<%# app/views/bookmarks/new.html.erb (Optional Update) %>
<div class="container mt-4">
  <h2>Add a new movie to "<%= @list.name %>" list</h2>
  <%= render 'form', list: @list, bookmark: @bookmark, movies_for_select: @movies_for_select %>
  <%= link_to 'Back to list', list_path(@list), class: "btn btn-secondary mt-3" %>
</div>